/*
    CSS style for band website
    Author: Justin Goney
*/
@import "foundation";
@import "settings";

// Variable definitions
$alpha: 0.75;

// from http://www.colourlovers.com/palette/1453156/WEDDING
$poma-rosa: rgb(204, 170, 170);
$poma-rosa-trans: rgba(204, 170, 170, $alpha);
$pretty-powder: rgb(238, 221, 204);
$pretty-powder-trans: rgba(238, 221, 204, $alpha);
$mud: rgb(99, 77, 66);
$mud-trans: rgba(99, 77, 66, $alpha);
$not-coffee: rgb(170, 68, 51);
$not-coffee-trans: rgba(170, 68, 51, $alpha);
$day-dream: rgb(204, 187, 170);
$day-dream-trans: rgba(204, 187, 170, $alpha);

// Own colors
$off-white: #f5f5f5;
$light-grey: #e9e9e9;
$shadow-grey: #363636;
$some-red: #AA4433;

$title-font: 'Lustria', sans-serif;
$body-font: 'Lato', sans-serif;

/* Sectional attributes */
body {
  background: url(/static/images/backgrounds/004.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: $body-font;
}

header, footer {
  padding: 1em 0;
}

#langbar {
  background-color: $mud-trans;
  padding: .5rem;
}

#social-media {
  margin-top: .2rem;
}

#social-media img {
  margin: .1rem;
  @media #{$small-up} {
    width: 2.2rem;
  }
  @media #{$medium-up} {
    width: 3rem;
  }
}

.song img {
  margin: .1rem;
  width: $list-font-size;
}

a.no-song {
  margin-left: .4rem;
  padding-left: $list-font-size;
}

.small-dropdown-header {
  img {
    width: $h3-font-size;
    margin: .1rem;
  }

  h3 {
    display: inline;
  }

  @media #{$small-only} {
    background-color: $light-grey;
    padding: .5rem;
    margin: (-$column-gutter/2);
  }
}

.small-dropdown-menu {
  @media #{$small-only} {
    padding-top: $h3-font-size;
  }
}

.sidebar, .body {
  background-color: $mud-trans;
  padding: .5rem .5rem 2rem .5rem;
}

.sidebar {
  @media #{$small-up} {
    padding: .5rem;
  }
  @media #{$medium-up} {
    padding: .5rem .5rem 2rem .5rem;
  }
}

.sidebar-bottom {
  @extend .sidebar;
  @media #{$small-up} {
    padding: .5rem .5rem 3rem .5rem;
  }
  @media #{$medium-up} {
    padding: .5rem .5rem 2rem .5rem;
  }
}

.body-full {
  @extend .body;
  @media #{$small-up} {
    margin: ($column-gutter/2) (-$column-gutter/2) ($column-gutter/2) (-$column-gutter/2);
  }
}

.body-side {
  @extend .body-full;
  @media #{$medium-up} {
    margin: 0 (-$column-gutter/2) 0 0;
  }
}

.callout {
  background-color: $not-coffee-trans;
}

.bands {
  margin-left: 1rem;
}

/* Per-element attributes */
h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
  color: $pretty-powder;
  text-shadow: $shadow-grey .1rem .1rem .1rem;
}

a {
  color: $poma-rosa;
  transition: .4s;
}

h1 a {
  color: $pretty-powder;
}

p {
  color: $off-white;
}

a:hover {
  color: $some-red;
}

ul {
  list-style: none;
  margin: 0;
}

li.block {
  background-color: $light-grey;
  color: $mud;
  padding: 0 .5rem;
  margin: .1rem;
  display: inline-block;
}

li.block a {
  color: $mud;
}

li.show a {
  color: $not-coffee;
}

nav li a {
  @media #{$small-up} {
    font-size: rem-calc(16);
  }
  @media #{$medium-up} {
    font-size: rem-calc(20);
  }
}

.this-tag {
  background-color: $light-grey;
  padding: 0 .5rem;
}

.playlist {
  margin-top: 1.5rem;
}

// TODO: fix this
img.logo {
  margin: .1rem;
  margin-bottom: 1rem;
  @media #{$small-up} {
    //        margin: 0 0 rem-calc(46) 0;
    width: 15rem;
  }
  @media #{$medium-up} {
    width: 20rem;
  }
  //    @media #{$large-up} {
  //        width: 22rem;
  //      }
}

//    margin: .1rem;
//    @media #{$small-up} {
//      width: 2.2rem;
//    }
//    @media #{$medium-up} {
//      width: 3rem;
//    }
//}