{# "About us" page #}

{% extends "base.html" %}

{% load i18n %}

{% block title %}
    <title>Ääriviivat | {% trans "About us" %}</title>
{% endblock %}

{% block body %}
    <div class="small-12 medium-8 medium-push-4 columns">
        <div class="body-side">
            <h2>{% trans "About Ääriviivat" %}:</h2>
            <article>
                {% blocktrans %}
                    <p>With their insistent hooks, strong melodies, and clever lyrics, Helsinki’s Ääriviivat delivers an
                        interesting marriage of 90’s rock and Suomipop. Their workmanship and genuine love for music can
                        be both heard on the record as well as seen in their live show.</p>
                    <p>The band got its start when workmates Mika Kaukoranta (guitar) and Justin Goney (drums) learned
                        of one-another’s love of all things 90’s rock. The pair had been jamming off and on for a while,
                        but it wasn’t until they met vocalist Iitu Marjosalmi that Ääriviivat really took off. “I was
                        pretty happy just playing Pearl Jam covers,” says Mika. “When I heard Iitu, I just thought
                        ‘man…her voice and energy really takes it to another level.’”</p>
                    <p>Wanting to integrate more modern influences into their music, the group asked Justin’s friend
                        Jane Koskimäki to come in on keyboards, and the current lineup was rounded out with Kimmo
                        Vahteri on bass.</p>
                    <p>Though Ääriviivat’s potent blend of pop and rock is rooted in 90’s grunge/alternative, it also
                        borrows liberally from artists from other genres. Especially close to the band are Finnish
                        artists such as PMMP, Anna Puu, and Maija Vilkkumaa. “I know it sounds really cliché,” starts
                        Justin, “but we just love great music, period. If a song has a great groove, it connects
                        emotionally, or it has outstanding lyrics…we’re into it. We just try to play music that we would
                        enjoy listening to ourselves.”</p>
                    <p>Ääriviivat released their debut album “Kosto” in the summer of 2016. Composed both of hardcore
                        rockers and wistful ballads written in collaboration with the whole band, the album presents an
                        excellent cross-section of the band so far. Iitu says, "We are very proud of our first album."
                        To date, the band has been mostly playing the Helsinki club circuit, but the band is working on
                        expanding its fan base and playing shows outside the capital area.</p>
                    <p>Find Ääriviivat on <a target="_blank" href="https://www.facebook.com/aariviivat">Facebook</a> for
                        up to date news about shows and new music.</p>
                {% endblocktrans %}
            </article>
        </div>
    </div>
    <div class="small-12 medium-4 medium-pull-8 columns sidebar-bottom">
        <h3>{% trans "Members" %}:</h3>
        <ul>
            <li class="block">Iitu Marjosalmi - {% trans "vocals" %}</li>
            <br>
            <li class="block">Mika Kaukoranta - {% trans "guitars" %}</li>
            <br>
            <li class="block">Jane Koskimäki - {% trans "keyboards" %}</li>
            <br>
            <li class="block">Kimmo Vahteri - {% trans "bass" %}</li>
            <br>
            <li class="block">Justin Goney - {% trans "drums" %}</li>
            <br>
        </ul>
    </div>
{% endblock %}