{# Page for blog entries #}

{% extends "base.html" %}

{% load i18n %}
{% load tz %}

{% block title %}
    <title>Ääriviivat | {% trans "Blog" %}</title>
{% endblock %}

{% block body %}
    <div class="small-12 medium-4 columns sidebar">
        <div class="small-dropdown-header toggle">
            <h3><img alt="{% trans "Menu dropdown icon" %}" class="hide-for-medium-up" src="{{ STATIC_URL }}images/thumbs/navicon.svg">{% trans "Recent entries" %}:</h3>
        </div>

        <ul class="small-dropdown-menu">
        {% for e in all_entries %}
            <li class="block"><a href="{% url 'blog_by_title' e.slug %}">{{ e.title }} ({{ e.date.date|date:'Y-m-d' }})</a></li><br>
        {% endfor %}
        </ul>
        <h3 class="hide-for-small-only">{% trans "Tags" %}:</h3>
        <ul class="tags hide-for-small-only">
        {% for tag in all_tags %}
            <li class="block"><a href="{% url "blog_by_tags" tag.slug %}">{{ tag }}</a></li>
        {% endfor %}
        </ul>
        {% if this_entry.spotify_uri %}
            <div class="playlist">
                <iframe src="https://embed.spotify.com/?uri={{ this_entry.spotify_uri }}"
                    width="300" height="380" frameborder="0" allowtransparency="true">
                </iframe>
            </div>
        {% endif %}
    </div>

    <article class="small-12 medium-8 columns">
        <div class="body-side">
        {% block main %}
            <h2>{{ this_entry.title }}</h2>
            <p>{% blocktrans with user=this_entry.user.first_name date=this_entry.date.date time=this_entry.date.time|time:"H:i" %}by {{ user }}, {{ date }} @ {{ time }}{% endblocktrans %}</p>
            {% if this_entry.tags.all %}
            <ul class="tags">
                {% for tag in this_entry.tags.all %}
                <li class="block"><a href="{% url "blog_by_tags" tag.slug %}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
            <p>{{ this_entry.body|safe|linebreaks }}</p>
        {% endblock %}
        </div>
    </article>
{% endblock %}
