{# Page for blog entry tag search #}

{% extends "main/blog.html" %}

{% load i18n %}

{% block main %}
    <h2>{% trans "Entries tagged with" %}
        <span class="this-tag">
            <a href="{% url "blog_by_tags" this_tag.slug %}">{{ this_tag }}</a>
        </span>
    </h2>

    {% for entry in tagged_entries %}
        <h3>
            <a href="{% url "blog_by_title" entry.slug %}">
            {% blocktrans with title=entry.title user=entry.user.first_name date=entry.date.date|date:'Y-m-d' time=entry.date.time|time:'H:i' %}
                {{ title }} (by {{ user }}, {{ date }} @ {{ time }})
            {%  endblocktrans %}
            </a>
        </h3>
        <ul class="tags">
            {% for tag in entry.tags.all %}
            <li class="block"><a href="{% url "blog_by_tags" tag.slug %}">{{ tag }}</a></li>
            {% endfor %}
        </ul>
        <p>{{ entry.body|safe|linebreaks|truncatechars:400 }}</p><a href="{% url "blog_by_title" entry.slug %}">{% trans "more" %}</a>
    {% endfor %}

{% endblock %}

