{# Contact page #}

{% extends "base.html" %}

{% load i18n %}

{% block title %}
    <title>Ääriviivat | {% trans "Contact" %}</title>
{% endblock %}

{% block body %}
    <div class="small-12 columns">
        <div class="body-full">
            <h3>{% trans "Contact" %}:</h3>
            <p class="contact"><a href="mailto:band@aariviivat.fi">band@aariviivat.fi</a></p>
            <p class="contact">+358 40 727 6389 (Mika)</p>
            <h4>{% trans "Booking Ääriviivat" %}:</h4>
            <p>{% blocktrans %}Whether you're a booking agent at a venue, or a band looking to share a gig, we're always
                interested in new places to play our music.{% endblocktrans %}</p>
            <p>{% blocktrans %}For booking information, contact us at
                <a href="mailto:band@aariviivat.fi">band@aariviivat.fi</a>, or connect with us on
                <a target="_blank" href="https://www.facebook.com/aariviivat">Facebook</a>.{% endblocktrans %}</p>
            <h4>{% trans "Press" %}:</h4>
            <p>{% blocktrans %}For press enquiries, contact us at
                <a href="mailto:band@aariviivat.fi">band@aariviivat.fi</a>.{% endblocktrans %}</p>

            <ul class="small-block-grid-1 large-block-grid-3 medium-block-grid-2">
                <li>
                    <a class="th radius" href="{{ STATIC_URL }}images/press/001-aariviivat-2015.jpg">
                        <img src="{{ STATIC_URL }}images/press/001-aariviivat-2015-thumb.jpg">
                    </a>
                </li>
                <li>
                    <a class="th radius" href="{{ STATIC_URL }}images/press/004-aariviivat-2015.jpg">
                        <img src="{{ STATIC_URL }}images/press/004-aariviivat-2015-thumb.jpg">
                    </a>
                </li>
                <li>
                    <a class="th radius" href="{{ STATIC_URL }}images/press/008-aariviivat-2015.jpg">
                        <img src="{{ STATIC_URL }}images/press/008-aariviivat-2015-thumb.jpg">
                    </a>
                </li>
                <li>
                    <a class="th radius" href="{{ STATIC_URL }}images/press/016-aariviivat-2015.jpg">
                        <img src="{{ STATIC_URL }}images/press/016-aariviivat-2015-thumb.jpg">
                    </a>
                </li>
                <li>
                    <a class="th radius" href="{{ STATIC_URL }}images/press/018-aariviivat-2015.jpg">
                        <img src="{{ STATIC_URL }}images/press/018-aariviivat-2015-thumb.jpg">
                    </a>
                </li>
                <li>
                    <a class="th radius" href="{{ STATIC_URL }}images/press/aariviivat_kosto_cover_hires.tif">
                        <img src="{{ STATIC_URL }}images/press/aariviivat_kosto_cover_thumbnail.jpg">
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}