{% extends "base.html" %}

{% load i18n %}

{% block title %}
    <title>Ääriviivat | {% trans "main page" %}</title>
{% endblock %}

{% block body %}
    <div class="small-12 medium-4 columns sidebar">
        <h3>{% trans "About Ääriviivat" %}:</h3>
        <article>
            {% blocktrans %}
                <p>Helsinki's Ääriviivat has been playing smart, tough, and emotional pop/rock since 2013. If you like
                    bands like PMMP, Weezer, and Maija Vilkkumaa, you'll probably like Ääriviivat. If you like bands like
                    Nickelback, you probably won't.</p>
                <p>Pop. Voima. Rock. Rakkaus.</p>
            {% endblocktrans %}
        </article>
        <h3>{% trans "Contact" %}:</h3>

        <p class="contact"><a href="mailto:band@aariviivat.fi">band@aariviivat.fi</a></p>
        <p class="contact">+358 40 727 6389 (Mika)</p>
    </div>

    <div class="small-12 medium-8 columns">
        <div class="body-side">
            <div style="position: relative;height: 0;overflow: hidden;padding-bottom:100%;padding-top:30px;">
                <iframe name="square" style="position:absolute;top:0px;left:0px;width:100%;height:100%;border:0px;"
                        src="//widget.cdbaby.com/d094a123-a8ef-4c17-93cf-ba0cb8224519/square/dark/opaque"></iframe>
            </div>
        </div>
    </div>
{% endblock %}
