{# Page for lyrics #}

{% extends "base.html" %}

{% load i18n %}

{% block title %}
    <title>Ääriviivat | {% trans "Music" %}</title>
{% endblock %}

{% block body %}
    <div class="small-12 columns">
        <div class="body-full">
                <iframe name="mini"
                        style="border:0px;width:100%;height:100px;"
                        src="//widget.cdbaby.com/da0f8309-663d-489f-ae32-91c33a4be6e0/mini/light/transparent"></iframe>
        </div>
    </div>
    <div class="small-12 medium-4 columns sidebar">
        <div class="small-dropdown-header toggle">
            <h3><img alt="{% trans "Menu dropdown icon" %}" class="hide-for-medium-up"
                     src="{{ STATIC_URL }}images/thumbs/navicon.svg">{% trans "The songs" %}:</h3>
        </div>

        <ul class="small-dropdown-menu">
            {% for s in all_songs %}
                <div class="song">
                    <li class="block">
                        {#                        {% if s.url %}#}
                        {#                            <a href="{{ s.url }}" class="stratus"><img#}
                        {#                                    src="{{ STATIC_URL }}images/thumbs/play_icon.svg"></a>#}
                        {#                            <a#}
                        {#                        {% else %}#}
                        {#                            <a class="no-song"#}
                        {#                        {% endif %}#}
                        <a href="{% url 'lyrics_by_title' s.slug %}">{{ s.title }}</a>
                    </li>

                </div>
            {% endfor %}
        </ul>
    </div>

    <div class="small-12 medium-8 columns">
        <div class="body-side">
            <h2>{{ song.title }}</h2>
            {% if song.credit %}
                <p>{% blocktrans with credit=song.credit %}Lyrics: {{ credit }}{% endblocktrans %}</p>
            {% endif %}
            {#            {% if song.url %}#}
            {#                <iframe width="100%" height="95" scrolling="no" frameborder="no"#}
            {#                        src="https://w.soundcloud.com/player/?url={{ song.url }}&amp;color=634D42&amp;auto_play=false&amp;hide_related=true&amp;show_artwork=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false">#}
            {#                </iframe>#}
            {#            {% endif %}#}
            <p>{{ song.lyrics|linebreaks }}</p>
        </div>
    </div>
{% endblock %}