{# Page for shows #}

{% extends "base.html" %}

{% load i18n %}

{% block title %}
    <title>Ääriviivat | {% trans "Shows" %}</title>
{% endblock %}

{% block body %}
    <div class="small-12 medium-8 medium-push-4 columns">
        <div class="body-side">
            <h2>{% trans "Upcoming shows" %}</h2>

            {% if future_shows %}
                <ul>
                {% for s in future_shows %}
                    <li class="show block">
                        {{ s }}
                        {% if s.url %}
                            &rarr; <a target="_blank" href="{{ s.url }}">{% trans "more info" %}</a>
                        {% endif %}
                        <br>
                        <span class="bands">
                            {% trans "With" %}
                            {% for band in s.bands.all %}
                                {# Attach the band's URL if there is one #}
                                {% if band.url %}
                                    <a target="_blank" href="{{ band.url }}">{{ band.name }}</a>
                                {% else %}
                                    {{ band.name }}
                                {% endif %}

                                {# Insert a comma if there are more than two bands #}
                                {% if forloop.revcounter0 > 1 %}
                                    ,
                                {% elif forloop.revcounter0 > 0 %}
                                    {% trans "and" %}
                                {% endif %}
                            {% endfor %}
                        </span>
                    </li>

                    <br>
                {% endfor %}
                </ul>
            {% else %}
                <p>{% blocktrans %}No upcoming shows for now, but we'll be hitting the road soon! Be sure to like us on <a target="_blank" href="https://www.facebook.com/aariviivat">Facebook</a> to stay up to date with new show announcements!{% endblocktrans %}</p>
            {% endif %}

        {% if past_shows %}
            <h2>{% trans "Past shows" %}</h2>
            <ul>
            {% for s in past_shows %}
                <li class="show block">
                    {{ s }}
                    {% if s.url %}
                        &rarr; <a target="_blank" href="{{ s.url }}">{% trans "review" %}</a>
                    {% endif %}
                </li>

                <br>
            {% endfor %}
            </ul>
        {% endif %}
        </div>
    </div>

    <div class="small-12 medium-4 medium-pull-8 columns sidebar-bottom">
        <h3>{% trans "Booking Ääriviivat" %}:</h3>
        <p>{% blocktrans %}Whether you're a booking agent at a venue, or a band looking to share a gig, we're always interested in new places to play our music.{% endblocktrans %}</p>
        <p>{% blocktrans %}For booking information, contact us at <a href="mailto:band@aariviivat.fi">band@aariviivat.fi</a>, or connect with us on <a target="_blank" href="https://www.facebook.com/aariviivat">Facebook</a>.{% endblocktrans %}</p>
    </div>

{% endblock %}
