{# Custom 404 page #}

{% extends "base.html" %}

{% load i18n %}

{% block title %}
    <title>Ääriviivat | {% trans "Page not found" %}</title>
{% endblock %}

{% block body %}
    <div class="small-12 columns">
        <div class="body-full">
            <h2>{% trans "Oops!" %}</h2>
            <p>{% trans "The page you're looking for can't be found, but we won't let that stop the music!" %}</p>
            <iframe width="100%" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/42824419&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=false"></iframe>
        </div>
    </div>
{% endblock %}