{# Band website base template #}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="{{ LANGUAGE_CODE }}" > <![endif]-->
<html class="no-js" lang="{{ LANGUAGE_CODE }}">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}
            <title>Ääriviivat</title>
        {% endblock %}
        <script src="{{ STATIC_URL }}scripts/modernizr.js"></script>
        <link rel="stylesheet" href="{{ STATIC_URL }}styles/style_main.css">
        <link href='http://fonts.googleapis.com/css?family=Lustria|Lato' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/thumbs/favicon.ico" type="image/x-icon" />
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-52650347-1', 'auto');
            ga('require', 'displayfeatures');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          {% if LANGUAGE_CODE == 'fi' %}
              js.src = "//connect.facebook.net/fi_FI/sdk.js#xfbml=1&version=v2.0";
          {% else %}
              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
          {% endif %}
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
        <div id="langbar" class="row">
            <div class="fb-like small-6 columns text-left" data-href="https://www.facebook.com/aariviivat" data-layout="button" data-action="like" data-show-faces="false" data-share="true" data-colorscheme="dark"></div>
            <div  class="small-6 columns text-right">
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value=""/>
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <button name="language" value="{{ language.code }}">{{ language.code }}</button>
                    {% endfor %}
                </form>
            </div>
        </div>
        {% if show %}
        <div class="row callout">
            <div class="small-12 columns">
            {% if show_today %}
                <h3>{% blocktrans with venue=show.venue time=show.time|time:'H:i' %}Attention! Come see us tonight @ {{ venue }}, {{ time }}!{% endblocktrans %}</h3>
            {% else %}
                <h3>{% blocktrans with venue=show.venue date=show.date|date:'SHORT_DATE_FORMAT' time=show.time|time:'H:i' %}Attention! Come see us on {{ date }} @ {{ venue }}, {{ time }}!{% endblocktrans %}</h3>
            {% endif %}
            </div>
        </div>
        {% endif %}

        <header class="row">
            <div class="small-10 medium-8 columns">
                <a href="{% url 'home' %}"><img class="logo" src="{{ STATIC_URL }}images/backgrounds/aariviivat/aariviivat_fi_logo_web_2.png"></a>
                <nav>
                    <ul>
                        <li class="block"><a href="{% url 'about' %}">{% trans "About" %}</a></li>
                        <li class="block"><a href="{% url 'lyrics' %}">{% trans "Music" %}</a></li>
                        <li class="block"><a href="{% url 'shows' %}">{% trans "Shows" %}</a></li>
{#                        <li><a href="{% url 'blog' %}">{% trans "Blog" %}</a></li>#}
                        <li class="block"><a href="{% url 'contact' %}">{% trans "Contact" %}</a></li>
                    </ul>
                </nav>
            </div>
            <div id="social-media" class="small-2 medium-4 columns text-right">
                <a target="_blank" href="https://www.facebook.com/aariviivat"><img alt="Facebook" src="{{ STATIC_URL }}images/thumbs/facebook.svg"></a>
{#                <a target="_blank" href="http://www.instagram.com/aariviivat"><img alt="Instagram" src="{{ STATIC_URL }}images/thumbs/instagram.svg"></a>#}
{#                <a target="_blank" href="https://soundcloud.com/aariviivat"><img alt="SoundCloud" src="{{ STATIC_URL }}images/thumbs/soundcloud.svg"></a>#}
                <a target="_blank" href="http://www.youtube.com/user/aariviivat"><img alt="YouTube" src="{{ STATIC_URL }}images/thumbs/youtube.svg"></a>
            </div>
        </header>

        <!--[if lt IE 8]>
        <div class="row callout">
            <p class>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> to experience this site.</p>
        </div>
        <![endif]-->

        <div class="row" id="content">
            {% block body %}
            {% endblock %}
        </div>

    {% include "scripts.html" %}
    </body>
</html>