{# Script includes are defined here, then included in base.html #}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{ STATIC_URL }}scripts/jquery.backstretch.min.js"></script>
<script src="{{ STATIC_URL }}scripts/foundation.min.js"></script>
<script src="{{ STATIC_URL }}scripts/foundation.clearing.js"></script>
<script src="{{ STATIC_URL }}scripts/site-main.js"></script>
